/*
 * CSS styling for displayed tweets
 */
main article {
  margin-top: 50px;
  margin-bottom: 17px;
  height: 250px;
  width: 100%;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main article header {
  width: 100%;
  height: 30%;
  border-bottom: 2px;
  display: flex;
  align-items: flex-end;
}

main article footer {
  margin-top: 30px;
  align-self: center;
  width: 98%;
  height: 23%;
  border-top: 3px solid black;
  display: flex;
}

main article header img { /* user icon */
  max-width:230px;
  max-height: 50px;
  width: auto;
  height: auto;
  margin-left: 20px;
}

main article header div { /* user handle*/
  margin-left: auto;
  font-weight: 600;
  color: #f4f1ec;
}

main article header span { /* user's name*/
  margin-left: 20px;
  margin-top: auto;
  font-weight: 300;
}

article > span { /* tweet content*/
  margin-left: 20px;
  margin-top: auto;
  font-weight: 400;
  word-wrap: break-word;
  margin-right: 15px; 
}

footer > span { /* info in footer*/
  margin-top: 5px;
  margin-left: 15px;
  font-size: medium;
  font-weight: 400;
}

.icons {
  margin-left: auto;
  width: 75px;
}

article:hover { /* styling variants for mouseover tweet effect */
  box-shadow: 10px 10px 7px 0px rgba(161,161,161,1);
  font-weight: 600;
}

main article:hover header span { /* hover styling for name in header */
  font-weight: 400;
}

main article:hover footer span {
  font-weight: 700
}


main article:hover header div { 
  margin-left: auto;
  font-weight: 600;
  color: #C5CDE6;
  margin-right: 25px;
}

main article:hover .icons {
  visibility: visible;
}