nav {
  height: 120px;
  background-color: transparent;
  color: #FFFF;
  display: flex;
  justify-content: flex-start;
  font-family: "Bungee", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
}

.title{
  margin: 1.5em;
}

#right-nav{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  font-family: Source Sans Pro;
}

#left-nav{
  font-size: xx-large;
}

#arrows{
  transform: rotate(90deg);
  color: darkorange;
  font-size: xx-large
}





