nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFF;
  display: flex;
  justify-content: flex-start;
  font-family: "Bungee", sans-serif;
}

.title{
  align-self: flex-end;
  margin: 1.5em;
}

.title2 {
  margin-left: auto;
  font-family: Source Sans Pro;
  align-self: center;
}



