/*
 * Styling for nav bar
 */
nav {
  height: 120px;
  background-color: transparent;
  color: #FFFF;
  display: flex;
  justify-content: flex-start;
  font-family: "Bungee", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2em
}

#right-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  font-family: Source Sans Pro;
}

#left-nav {
  font-size: xx-large;
}

#arrows {
  transform: rotate(90deg);
  color: #D9330B;
  font-size: 40px;
}





