/*
 * Styling for displayed tweets
 */

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%
}

textarea {
  background-color: #f4f1ec;
  font-weight: 600; 
  border-bottom: 3px solid;
  border-color: black;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 600 
}

.counterB { /* CounterB and R refer to black and red - for jQuery to change color of counter*/
  margin-left: auto;
}

.counterR {
  color: red;
  margin-left: auto;
}

.footer {
  font-family: Bungee, sans-serif;
  display: flex;
}

form div.footer button {
  color: #FFFF;
  background-color: #4056A1;
  box-shadow: 5px 5px 5px #c1c1c1;
}

form div.footer button:active {
  background: #e5e5e5;
  box-shadow: inset 10px 10px 5px #c1c1c1;
}



